# En principio ignoramos todos los ficheros de la raiz
/*

# Git
!/.gitignore
!/LICENSE
!/README.md

# Dotfiles
!/.bashrc
!/.bash_prompt
!/.gitconfig
!/.inputrc
!/.vimrc

# Directorio con ficheros adicionales
!/.eps-dotfiles-extra
