# En principio ignoramos todos los ficheros de la raiz
/*

# Git
!/.gitignore
!/LICENSE
!/README.md

# Dotfiles
!/.bashrc
!/.bash_prompt
!/.gitconfig
!/.inputrc
!/.vimrc

# Ejecutables
!/.eps-bin

# Ficheros para la terminal
# TODO: Arreglar esto (?)
!/.gconf/apps/gnome-terminal/*
!/.config/gnome-panel/launchers/gnome-terminal.desktop
