[include]
	path = ~/UnidadH/eps-dotfiles/IDENTIDAD_GIT
[merge]
	tool = subl
[mergetool "subl"]
	cmd = subl -w "$MERGED"
	trustExitCode = false
[core]
	editor = subl -w
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
[color "status"]
	untracked = blue
[push]
	default = current
[format]
	#pretty = %C(yellow)%h%Creset %C(blue)%<(12,trunc)%ar%Creset %Cgreen%<(8,trunc)%an%Creset - %<(80,trunc)%s
[alias]
	# Log
	l = log --oneline
	ll = log --date=short --pretty=format:'%C(blue)%ad%Creset %C(yellow)%h%Creset %<(80,trunc)%s'
	lll = log --all --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset %C(yellow)%d%Creset'
	fl = log --stat --oneline
	fll = log -p --oneline
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	last = log -1 --pretty=fuller --stat
	# Rest
	aa = add .
	aaa = add -A .
	br = branch -vv
	bra = branch -vva
	ci = commit
	cim = commit -m
	cp = cherry-pick
	co = checkout
	cob = checkout -b
	df = diff
	dfc = diff --cached
	put = push --follow-tags
	re = remote -v
	rb = rebase -i
	rmc = rm --cached
	st = status -sb
	# Util
	lsu = ls-files --others --exclude-standard
	ii = ls-files --stage -t --full-name --abbrev=7
	type = cat-file -t
	dump = cat-file -p
	#incoming = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' ..@{u})
	#outgoing = !(git fetch --quiet && git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen%cr %C(bold blue)%an%Creset' @{u}..)
[credential]
	# Guarda los credenciales de github/bitbucket 2hr (duracion practicas)
	helper = cache --timeout=7200
